
project_id = "eaeqyctjljbtcatlohky"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv4"
port = 54323
max_header_length = 4096

[studio]
enabled = true
port = 54324
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327

[storage]
enabled = true
file_size_limit = "50MiB"
s3_credentials_access_key_id = "local-s3-access-key"
s3_credentials_secret_access_key = "local-s3-secret-key"
s3_region = "local"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true
enable_confirmations = false

[functions.stripe-webhook]
verify_jwt = false

[functions.create-stripe-product]
verify_jwt = true

[functions.stripe-subscriptions]
verify_jwt = true

[edge_runtime]
inspector_port = 8083
policy = "per_request"
